.login-btn {
    text-align: center;
}

.btn {
    margin-left: auto;
    margin-right: auto;
}

.login-div {
    margin-top: 150px;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    background-color:ghostwhite ;
    color: black;
}
